@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap')

.logo{
    text-align: center;
}
body{
    background: rgb(12,192,5);
    background: linear-gradient(90deg, rgba(12,192,5,1) 0%, rgba(33,160,131,1) 35%, rgba(23,121,214,1) 100%);
}
.logo{
    text-align: center;
}
#siempre{
    width: 30%;
}
.logos{
    border-radius: 8px;
    margin: 3px 0px 3px 0px;
    text-align: center;
}
.redes{
    padding: 20px;
}
img{
    width: 20%;
}
h2{
    text-decoration: none;
    font-family: "Bungee", sans-serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
}